@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*{
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size:15px;
}
.App{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  gap: 22px 0;
}
h1{
  font-size:1.67rem;
  line-height: 2rem;
}
.wrapper{
  position: relative;
}
button{
  all: unset;
  cursor:pointer;
  font-weight: 700;
  font-size: 1.067rem;
  width: 95%;
  max-width: 357px;
  text-align: center;
  background: #4894FE;
  color: #FFF;
  padding: 17px 0;
  border-radius: 14px;
  pointer-events: none;
  opacity: .65;
}
button.active{
  pointer-events: initial;
  opacity: 1;
}
button:hover{
  filter: opacity(.85);
}